<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <!--<add key="RAW_FOLDER_PATH" value="C:\Pravangsu\MS\DocAnalysisNet\DocAnalysisNet\repository\raw\"/>-->
    <add key="RAW_FOLDER_PATH" value="\repository\raw\"/>
    <add key="YML_FOLDER_PATH" value="\repository\yml\"/>
    <!--<add key="IOS_ALL_FRAMEWORK" value="ios\AllFrameworks.html"/>
    <add key="ANDROID_ALL_FRAMEWORK" value="android\AllFrameworks.html"/>-->
    <add key="IOS_BASE_URL" value="https://developer.apple.com/library/ios/"/>
  </appSettings>
</configuration>